build/
anim/
Anim/
run_local_cases/
ExternalLibs/

.vscode

.DS_Store
**/.DS_Store

*_out/
*.out
*.o
*.lo
*.ol
*.pyc
Makefile
*.h
*.Po
*.log
RUN_Cases/Arousa_3D_case/

RUN_Cases/Arousa_2D_2_years_METEOGALICIA/

RUN_Cases/Arousa_2D_Oct2018_May2019/

RUN_Cases/Arousa_OPER/

RUN_Cases/Artabro_OPER/

RUN_Cases/CEFAS_case/

RUN_Cases/CMEMS_case/

RUN_Cases/Vigo_OPER/

RUN_Cases/OMA_test/

RUN_Cases/OMA_2014_2015/

RUN_Cases/NoiaMuros_OPER/

RUN_Cases/MarineLitter_Operational.sh

RUN_Cases/MOHIDXMLDateOperational.py
